# Project Overview

In a short paragragh describe the problem you want to explore use data science techniques

# Problem Description
In one sentence describe the problem you want to explore with data science

# Subject Matter Expertise

In bulleted format, describe the subject matters that will help you explore your topic. Example:
 
1. Data Analysis
2. Data Visualization
3. Statistics and Probability
4. Hypothesis Testing
5. Linear Regression

# Assumptions
List any assumptions you may have about the topic. 
`Assumptions are a thing that is accepted as true or as certain to happen, without proof.`

# Steps to Explore the Topic and Problem

List the steps you're going to take to explore the topic using the data sources you identify and the techniques you already know. Please list them as step 1, step 2, step 3. Example:

1. Download data from U.S. Census
2. Web-scrape data from IMDB
3. Find the number of actors that do not live in california
4. Calculate the median salary for actors that do not live in California
5. Show the relationship between actors living in CA vs outside CA with pie chart
6. Show relationship between actors' salary living in CA vs outside CA with bar chart
7. Calculate median home price of homes in CA using web scrape data
8. Compare this to median salary for actors using bar chart
9. Make some intitial Conclusions on actor salary, location, and median home price on if actors can afford to live in CA.

# Data Sources:

In bulleted format, list where you will get data from. Data sources must include one existing data source and web-scrapted source. Example:

1. U.S. Census Estimates of the Total Resident Population and Resident Population Age 18 Years and Older for the United States, States, and Puerto Rico `https://www2.census.gov/programs-surveys/popest/datasets/2010-2019/state/detail/SCPRC-EST2019-18+POP-RES.csv`
2. Kaggle Elon Musk Tweets 'https://www.kaggle.com/kingburrito666/elon-musk-tweets'

# Data Exploration
Describe the data using what you know. For larger datasets may have to pull out columns that are of interst to you.

In [1]:
# imports
import pandas as pd
import numpy as np
import matplotlib
%matplotlib inline
import matplotlib.pyplot as plt
plt.style.use('fivethirtyeight')

In [13]:
epl_players.shape

(461, 17)

In [2]:
epl_players = pd.read_csv("epldata_final.csv")
epl_players.head(20)

,name,club,age,position,position_cat,market_value,page_views,fpl_value,fpl_sel,fpl_points,region,nationality,new_foreign,age_cat,club_id,big_club,new_signing
0,Alexis Sanchez,Arsenal,28,LW,1,65.0,4329,12.0,17.10%,264,3.0,Chile,0,4,1,1,0
1,Mesut Ozil,Arsenal,28,AM,1,50.0,4395,9.5,5.60%,167,2.0,Germany,0,4,1,1,0
2,Petr Cech,Arsenal,35,GK,4,7.0,1529,5.5,5.90%,134,2.0,Czech Republic,0,6,1,1,0
3,Theo Walcott,Arsenal,28,RW,1,20.0,2393,7.5,1.50%,122,1.0,England,0,4,1,1,0
4,Laurent Koscielny,Arsenal,31,CB,3,22.0,912,6.0,0.70%,121,2.0,France,0,4,1,1,0
5,Hector Bellerin,Arsenal,22,RB,3,30.0,1675,6.0,13.70%,119,2.0,Spain,0,2,1,1,0
6,Olivier Giroud,Arsenal,30,CF,1,22.0,2230,8.5,2.50%,116,2.0,France,0,4,1,1,0
7,Nacho Monreal,Arsenal,31,LB,3,13.0,555,5.5,4.70%,115,2.0,Spain,0,4,1,1,0
8,Shkodran Mustafi,Arsenal,25,CB,3,30.0,1877,5.5,4.00%,90,2.0,Germany,0,3,1,1,1
9,Alex Iwobi,Arsenal,21,LW,1,10.0,1812,5.5,1.00%,89,4.0,Nigeria,0,1,1,1,0
10,Granit Xhaka,Arsenal,24,DM,2,35.0,1815,5.5,2.00%,85,2.0,Switzerland,0,2,1,1,0
11,Alex Oxlade-Chamberlain,Arsenal,23,RM,2,22.0,1519,6.0,1.80%,83,1.0,England,0,2,1,1,0
12,Jack Wilshere,Arsenal,25,CM,2,18.0,1759,5.5,0.00%,61,1.0,England,0,3,1,1,0
13,Aaron Ramsey,Arsenal,26,CM,2,35.0,1040,7.0,5.10%,56,1.0,Wales,0,3,1,1,0
14,Francis Coquelin,Arsenal,26,DM,2,15.0,549,4.5,1.70%,52,2.0,France,0,3,1,1,0
15,Gabriel Paulista,Arsenal,26,CB,3,13.0,552,5.0,0.10%,45,3.0,Brazil,0,3,1,1,0
16,Kieran Gibbs,Arsenal,27,LB,3,10.0,489,5.0,0.50%,45,1.0,England,0,3,1,1,0
17,Santi Cazorla,Arsenal,32,CM,2,12.0,943,7.0,0.10%,38,2.0,Spain,0,5,1,1,0
18,Danny Welbeck,Arsenal,26,CF,1,15.0,1521,7.5,0.50%,37,1.0,England,0,3,1,1,0
19,Rob Holding,Arsenal,21,CB,3,7.0,666,5.0,1.70%,32,1.0,England,0,1,1,1,1

In [48]:
# Web scrape pionts table from Premier League website

from bs4 import BeautifulSoup
from urllib.request import Request, urlopen
import pandas as pd

url = "https://www.premierleague.com/matchweek/1572/table"

team_names = []
team_positions = []

req = Request(url, headers={'User-Agent': 'Mozilla/5.0'})
webpage = urlopen(req)
bs = BeautifulSoup(webpage.read(),'html.parser')

teams = bs.find_all("tr", { "data-filtered-table-row" : "26" })
for item in teams:
    team_names.append(item["data-filtered-table-row-name"])
    team_positions.append(item.find("span", { "class" : "value"}).text)
    
points_table = pd.DataFrame({"team_name" : team_names, "team_position" : team_positions})
points_table

          team_name team_position
0           Man Utd             1
1      Huddersfield             2
2          Man City             3
3             Spurs             4
4           Arsenal             5
5           Burnley             6
6           Everton             7
7         West Brom             8
8         Liverpool             9
9           Watford            10
10      Southampton            11
11          Swansea            12
12        Leicester            13
13          Chelsea            14
14  AFC Bournemouth            15
15            Stoke            16
16         Brighton            17
17        Newcastle            18
18   Crystal Palace            19
19         West Ham            20

# Data Cleaning
Show techniques you use to reduce impact of outliers, drop missing, or null values (if any)

In [11]:
epl_players.isnull().sum()

name            0
club            0
age             0
position        0
position_cat    0
market_value    0
page_views      0
fpl_value       0
fpl_sel         0
fpl_points      0
region          1
nationality     0
new_foreign     0
age_cat         0
club_id         0
big_club        0
new_signing     0
dtype: int64

# Describe the Data Using Descriptive Stats
Use descriptive stats to tell us about your data. Must include mean, median, and mode where applicable. Also must talk about normality of data.

Remember what `standard deviation`, `mean`, `central tendency`, and `variance` mean for your data

In [21]:
def find_descriptive_stats(column_name):
    mean_val = epl_players[column_name].mean()
    median_val = epl_players[column_name].median()
    max_val = epl_players[column_name].max()
    std_val = epl_players[column_name].std()
    var_val = epl_players[column_name].var()
    q25 = np.quantile(epl_players[column_name], 0.25)
    q75 = np.quantile(epl_players[column_name], 0.75)
    return (mean_val, median_val, max_val, std_val, var_val, q25, q75)
    
print(find_descriptive_stats("age"))

(26.80477223427332, 27.0, 38, 3.9618917037096106, 15.696585871923041, 24.0, 30.0)

# Data Visualization Continued
Use everything from the miniproject 1 to describe the plots you will use to visualize you data. 

Must use histogram, bar charts, and pie charts to describe aspects abou tthe data

Determine if your data is normal or not!

## Data Sampling

Draw random some samples from your dataset(s)
(If you joined your dataset into one large dataset, only sample randomly from this large dataset)

You must describe how you choose to pick the random samples, i.e. systematic, probablistic sampling

You must describe if you draw random samples with or without replacement

Describe why or why not you chose to randomly draw samples with replacement or without replacement

## Find Probability
Find the probability of two events that must both happen in your data analysis

Find the probablity of an event that doesn't happen using your dataset(s)

Find the probability of event that is equally likely occur. You might have to think about this in regards to your problem that you are exploring

## Testing Hypotheses

Choose two hypotheses you want to explore in regards to your topic.
Examples:
The state of Montana likes cheesecake as a desert?
Have the demographics of Washington, DC decreased over the past decade?
United States streaming services mainly stream rap or hip/hop?

### Note: Make sure to note the Null and the alternative hypotheses for each of the questions you want to test

## Test Statistics 
For each of your questions list the test statistic that you are going to use to test the hypothesis.

## Observed Values
Show the oberved value of the test statistics

# Hypothesis Tests Conclusions
Based on what you found about your topic communicate it to the audience.

# Topic Conclusions
Sum up the conclusions about what you did and why it is interesting to you, the public reading your analysis or to a particular population